<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/new.css" />
		<title>New Captains Log</title>
	</head>
    <body>
        <a href="/logs/">Back to Index</a>
		<h1>New Log Page</h1>
		<form action="/logs" method="POST">
			Title: <input type="text" name="title" /><br />
			Entry: <input type="text" name="entry" /><br />

			Completed: <input type="checkbox" name="completed" /><br />
			<input type="submit" name="" value="Add Log" />

		</form>
	</body>
</html>
