<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css" />
    <title>Captains Log Show Page</title>
</head>
<body>
    <nav>
        <a href="/logs">Back to Index</a>
    </nav>
    <h1><%=log.title %></h1>
    Entry: <%= log.entry%>
    <br />
    Completed: <%= log.completed %>
</body>
</html>